.custom-dialog {
  position: relative;
  justify-content: center;
  width: 750px;
  height: 1024px;

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 750px;
    height: 1024px;
    pointer-events: none;
  }

  &-close {
    position: absolute;
    top: 40px;
    right: 84px;
    width: 40px;
    height: 40px;
  }

  &-body {
    width: 686px;
    height: 900px;
    background: #edf2ff;
    border-radius: 150px;

    .robot {
      width: 200px;
      height: 200px;
      margin: 82px 0 24px;
    }

    .cue-word {
      box-sizing: border-box;
      gap: 24px;
      justify-content: center;
      width: 480px;
      height: 232px;
      padding: 16px 32px;
      background: linear-gradient(180deg, #e7eeff 0%, #d3e4ff 100%);
      border-radius: 48px;

      &-text {
        color: #0071ff;
      }

      &-cue {
        color: #003b86;
        text-align: center;
      }
    }

    .btn {
      gap: 12px;
      margin-top: 56px;

      &-item {
        gap: 8px;

        &-text {
          color: #4396ff;
        }
      }
    }
  }
}

// 页面布局
.c-flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

// 字重
.font-bold {
  font-weight: bold;
}

.font-light {
  font-weight: 400;
}

// 字体
.font-24 {
  font-size: 24px;
  line-height: 36px;
}

.font-28 {
  font-size: 28px;
  line-height: 48px;
}

.font-32 {
  font-size: 32px;
  line-height: 48px;
}

.font-40 {
  font-size: 40px;
  line-height: 56px;
}

.font-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
